<%= form_with(model: blogtest, local: true) do |form| %>
  <% if blogtest.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blogtest.errors.count, "error") %> prohibited this blogtest from being saved:</h2>

      <ul>
      <% blogtest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
